asd

/**
 * ion-footer-bar custom styles
 */
.footer-bar-custom {
    background: #455D87;
    color: #F6F7F0;
    height: 44px;
    width: 100%;
    position: absolute;
    bottom: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 5
}

.footer-bar-custom .item-left,
.footer-bar-custom .item-center,
.footer-bar-custom .item-right {
    position: absolute;
    width: 30px
}

.footer-bar-custom .item-left { 
    left: 10px 
}

.footer-bar-custom .item-center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.footer-bar-custom .item-right { 
    right: 10px 
}

.footer-server {
    display: block;
    height: auto;
    padding-top:0px;
    padding-bottom:0px;
}

.footer-server .button.button-full {
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-server .row {
    /*display: block;*/
}

.footer-server .row,
.footer-server .col
{
    padding-top:0px;
    padding-bottom:0px;
}

.camera-selected {
    border: 1px red solid;
}

.camera-archive .record-selected {
    border-color: #CCC;
    background-color: #D9D9D9;
}
