<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.phonegap.bluecherry864365" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Bluecherry</name>
  <description>
        Bluecherry project
    </description>
  <author email="alex.melnikov@corp.bluecherry.net" href="http://www.bluecherrydvr.com/">
      Bluecherry Team
    </author>
  <content src="index.html"/>
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="webviewbounce" value="false"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="BackupWebStorage" value="none"/>
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="3000"/>
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="webviewbounce" value="false"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="BackupWebStorage" value="none"/>
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="3000"/>    
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <plugin name="cordova-plugin-whitelist" version="1" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />  
  <platform name="android">
    <icon src="img/android/icon/drawable-ldpi-icon.png" density="ldpi"/>
    <icon src="img/android/icon/drawable-mdpi-icon.png" density="mdpi"/>
    <icon src="img/android/icon/drawable-hdpi-icon.png" density="hdpi"/>
    <icon src="img/android/icon/drawable-xhdpi-icon.png" density="xhdpi"/>
    <icon src="img/android/icon/drawable-xxhdpi-icon.png" density="xxhdpi"/>
    <icon src="img/android/icon/drawable-xxxhdpi-icon.png" density="xxxhdpi"/>
    <splash src="img/android/icon/drawable-land-ldpi-screen.png" density="land-ldpi"/>
    <splash src="img/android/icon/drawable-land-mdpi-screen.png" density="land-mdpi"/>
    <splash src="img/android/icon/drawable-port-ldpi-screen.png" density="port-ldpi"/>
    <splash src="img/android/icon/drawable-port-mdpi-screen.png" density="port-mdpi"/>
  </platform>
  <icon src="img/android/icon/drawable-xhdpi-icon.png"/>
</widget>
