<ion-view style="" title="Add a server">
    <ion-content class="has-header" padding="false">
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label">ServerName</span>
                <input placeholder="" type="text">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Address</span>
                <input placeholder="" type="text">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">TCP Port</span>
                <input placeholder="" type="number">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">User Name</span>
                <input placeholder="" type="text">
            </label>
            <label style="" class="item item-input">
                <span class="input-label">Password</span>
                <input placeholder="" type="password">
            </label>
        </form>
        <div style="" class="button-bar">
            <button style="" class="button button-stable button-block ">Add</button>
            <button style="" class="button button-stable button-block ">Check</button>
        </div>
    </ion-content>
</ion-view>

