<ion-view style="" title="List of servers">
    <ion-content class="has-header" padding="false">
        <ion-list style="" can-swipe="listCanSwipe">
            <ion-item style="" href="#/menu/serverPage" menu-close="">
                <h2>Server 1</h2>
                <ion-option-button class="button-balanced">Edit</ion-option-button>
                <ion-option-button class="button-assertive">Delete</ion-option-button>
            </ion-item>
            <ion-item style="" href="#/menu/serverPage" menu-close="">
                <h2>Server 2</h2>
                <ion-option-button class="button-balanced">Edit</ion-option-button>
                <ion-option-button class="button-assertive">Delete</ion-option-button>
            </ion-item>
            </ion-list>
    </ion-content>

    <ion-footer-bar class="bar-positive footer-bar-custom">
        <a class="footer-bar-item item-center button button-clear icon-left ion-plus" href="#/menu/addServer"></a>
    </ion-footer-bar>

</ion-view>
